<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnit.llc.cpms.dao.CarsitecostMapper">
    <select id="listCarsitecostPage" resultType="Carsitecost">
        SELECT * FROM carsitecost c LEFT JOIN owner o
        ON c.ownerId = o.ownerId
        <where>
            <if test="ownerName != null and ownerName != ''">
                o.ownerName like '%${ownerName}%'
            </if>
        </where>
        limit #{page}, #{size}
    </select>
</mapper>
