<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnit.llc.cpms.dao.HouseMapper">
    <select id="listHousePage" resultType="House">
        SELECT * FROM house h LEFT JOIN building b ON h.buId= b.buId
        <where>
            <if test="buNumber != null and buNumber != ''">
                b.buNumber like '%${buNumber}%'
            </if>
        </where>
        limit #{page}, #{size}
    </select>
</mapper>
